trigger: none 
name: resource create
pool: agent-ka -jhund
variables:
   directory_path: 'System.DefaultWorkingDirectory'


jobs:
- job: 
  steps: 
  - task: TerraformInstaller@1
    displayName: terraform install
    inputs:
      terraformVersion: 'latest'

  - task: TerraformTask@5
    displayName: terraform init
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: $(directory_path)
      backendServiceArm: 'ajent-ka-jhuund'
      backendAzureRmOverrideSubscriptionID: '538f56b2-294c-4e41-a854-7ab1b5d5ad51'
      backendAzureRmResourceGroupName: 'rg_infra'
      backendAzureRmStorageAccountName: 'storageinfra'
      backendAzureRmContainerName: 'contenerinfra'
      backendAzureRmKey: 'khushali.tfstate'

  - task: TerraformTask@5
    displayName: terraform plan
    inputs:
      provider: 'azurerm'
      command: 'plan'
      workingDirectory: $(directory_path)
      environmentServiceNameAzureRM: 'ajent-ka-jhuund'

  - task: TerraformTask@5
    inputs:
      provider: 'azurerm'
      command: 'apply'
      workingDirectory: '$(directory_path)'
      commandOptions: '-auto-approve'
      environmentServiceNameAzureRM: 'ajent-ka-jhuund'


 


  


